/* Define color scheme based on the provided ZocDoc color scheme */
:root {
  --off-white: #F7F7F7;
  --lavender: #949cff;
  --deep-slate: #435373;
  --light-slate: #e4e4e7;
  --medium-slate: #9fa4b7;
  --yellow: #ffc812;
  --flora: #8fcca0;
}

.fixed-footer {
  background-color: var(--deep-slate); /* Set the footer background color */
  color: var(--off-white); /* Set the text color */
  position: relative; /* Fix position to the bottom */
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2px; /* Adjust padding as needed */
  text-align: center; /* Center the text */
  width: 100%
}

.social-links {
  color: var(--lavender); /* Set the color for social icons */
}

/* You might also want to adjust the hover styles for the links to match the ZocDoc's color scheme */

.social-links a:hover {
  color: var(--medium-slate);
  background-color: var(--lavender); /* On hover, the background becomes lavender */
}

/* Adjustments for mobile views */
@media (max-width: 600px) {
  .fixed-footer {
    flex-direction: column;
    align-items: center;
  }

  .social-links {
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-links li {
    margin: 0.5rem;
  }
}
